body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

h1,
h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1,
h2,
p {
  text-align: center;
}

h1 + p {
  font-style: italic;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: -25px;
}

hr {
  height: 3px;
  background-color: brown;
  border-color: brown;
  margin: 20px auto;
  border: 0;
  height: 2px;
  margin-top: 25px;
}
.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 5%;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

/*FOOTER*/

footer {
  font-size: 14px;
}

address {
  font-style: normal;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}

.address {
  margin-bottom: 5px;
}
